<section class="slide whiteSlide" name="form">
        <div class="content">
          <div class="container">
            <div class="wrap">
      
              <h1 class="ae-1">Editing Post</h1>
              <div class="ae-2"><p></p></div>
              <div class="fix-5-12 margin-top-6">
                <div class="pad shadow selected ae-3">

                <%= render 'form', post: @post %>

                <!-- <%= link_to 'Show', @post %> | -->
                <p><%= link_to 'Back', posts_path %></p>
                </div>
            </div>
            </div>
          </div>
        </div>
</section>
